div.tonglan1 {
	margin-top: 10px;
    height: 425px;
    background: #fff;
}

.w524h345 {
    width: 624px;
    height: 345px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.fs_C2 {
    height: 397px;
    position: relative;
    background: #fff;
    width: 650px;
    position: relative;
}

/*左侧上面大图*/
.fs_C2 .fPs {
    overflow: visible;
    height: 320px;
}
.fs_C2 .pr img{
	width: 100%;
	height: 320px;
}
.fs_C2 .shadow {
    width: 650px;
    position: absolute;
    top: 286px;
    left: 0px;
    height: 34px;
    background: rgba(0,0,0,0.6);
    display: block;
    line-height: 34px;
    text-align: center;
}

.fs_C2 .prev,.fs_C2 .next {
    position: absolute;
    left: 0px;
    top: 268px;
    width: 13px;
    height: 77px;
    background: url(../../img/btn_l.png) no-repeat;
    cursor: pointer;
}
.fs_C2 .next {
    background: url(../../img/btn_l.png) no-repeat;
}

/*左侧下面缩略图*/
.count img{width: 100%;}
.fs_C2 .C2fBt {
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 320px;
    width: 650px;
}
.fs_C2 .fbtFix {
    width: 9999px;
}
.fs_C2 .C2fBt li, .fs_C2 .C2fBt li.current {
    width: 130px;
}
.fs_C2 .C2fBt li {
    float: left;
    font-size: 14px;
    display: inline;
    height: 77px;
}

/*右侧*/
.titmain .no1z {
    background: url(../../img/bbsnew_08.png) no-repeat -5px top;
    height: 124px;
    padding-left: 68px;
    border-bottom: 1px dashed #dedede;
}
.titmain h2 {
    height: 26px;
    overflow: hidden;
    padding-top: 18px;
}
a.cEF60C5, .cEF60C5 {
    color: #EF60C5;
}
.titmain h2 a {
    font-family: "微软雅黑";
    font-size: 19px;
    font-weight: bolder;
    line-height: 20px;
}
.titmain p {
    color: #666666;
    font-family: "宋体";
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 20px;
    text-indent: 1em;
}

.titmain .no2z {
    background: url(../../img/bbsnew_11.png) no-repeat -5px top;
    height: 122px;
    padding-left: 68px;
    border-bottom: 1px dashed #dedede;
}

#fsnav {
    height: 47px;
}
#fsnav li {
    width: 78px;
    float: left;
    line-height: 47px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: #929292;
}
#fsnav li.choosezxb {
    background: url(../../img/bbsnew_14.png) center bottom no-repeat;
    color: #1BA1E2;
    cursor: pointer;
}
#zwcon {
    background: url(../../img/bbsnew_16.png) left top no-repeat #F7F7F7;
    height: 106px;
}
#zwcon li {
    display: none;
}
#zwcon li.displayblock {
    display: block;
}
#zwcon h3 {
    line-height: 48px;
    height: 48px;
    padding-left: 56px;
}
#zwcon h3 a {
    line-height: 48px;
    font-size: 18px;
    color: #F5A280;
    text-decoration: none;
    font-weight: bolder;
    font-family: "微软雅黑";
}
#zwcon p {
    padding-left: 15px;
    padding-right: 15px;
}

/*信息部分*/
.cenzxb{
	height: 236px;
} 
.cenzxb dt {
    padding-left: 16px;
    font-size: 16px;
    font-weight: bolder;
    height: 26px;
    background: url(../../img/bbsnew_18.png) no-repeat;
    line-height: 26px;
    margin-left: 16px;
    margin-right: 14px;
}
.cenzxb .c1BA1E2 {
    font-weight: bolder;
}
.cenzxb dd {
    height: 39px;
    border-bottom: 1px dashed #D0D0D0;
    margin-left: 14px;
    margin-right: 14px;
    line-height: 39px;
    background: url(../../img/bbsnew_24.png) 0px center no-repeat;
    padding-left: 18px;
}
.cenzxb dd:last-child{
	border-bottom: 1px solid transparent;
}

.cenzxb dd a {
    font-size: 14px;
}
.cenzxb dd a:hover{
	text-decoration: underline;
	color:#f46;
}
a.titzxb3 {
    color: #000;
}
.c1BA1E2 a {
    color: #1BA1E2;
}
.right2{
	height: 472px;
}
.right2-title {
	padding-left: 16px;
    font-size: 16px;
    font-weight: bolder;
    height: 26px;
    line-height: 26px;
    background: url(../../img/bbsnew_18.png) no-repeat;
}
.right2 ul {
    padding-top: 18px;
}
.right2 ul li {
    height: 53px;
    padding-bottom: 10px;
    overflow: hidden;
}
.right2 ul li .right2-img img {
    max-height: 44px;
    max-width: 44px;
    margin: 0 auto;
    padding: 1px;
    vertical-align: middle;
}
.r-right {
	width: 284px;
    height: 43px;
    padding-left: 10px;
}
.right2 ul li .r-title,.right2 ul li .lx{
    height: 22px;
    overflow: hidden;
}
.right2 ul li .r-title a:hover{
	text-decoration: underline;
	color:#F46;
}
.right2 ul li .lx .name1 {
    width: 54px;
    height: 22px;
    overflow: hidden;
    display: block;
    float: left;
}
.r-right p span {
    padding-right: 1px;
}
.right2 ul li .lx .phone {
    width: 95px;
    height: 22px;
    overflow: hidden;
    display: block;
    float: left;
}
.right2 ul li .lx .money {
    width: 60px;
    height: 22px;
    overflow: hidden;
    display: block;
    float: left;
}
.right2 ul li .lx .time {
    width: 70px;
    height: 22px;
    overflow: hidden;
    display: block;
    float: left;
}

/*活动推荐*/
.lx1 {
    position: relative;
    background: url(../../img/dd_03.png) no-repeat center top #ffffff;
    width: 1200px;
    height: 54px;
    margin: 0 auto;
}
.lx2 {
    position: absolute;
    left: 537px;
    top: 1px;
    width: 126px;
    height: 35px;
    border-color: #FFFFFF;
    color: #ef60c5;
    font-size: 30px;
    font-family: "微软雅黑";
    text-align: center;
    font-weight: bolder;
}
.morelx1 {
    position: absolute;
    left: 1130px;
    top: 12px;
    width: 57px;
    height: 17px;
    font-size: 12px;
    font-family: '宋体';
    text-align: right;
}
.morelx1 a {
    color: #8E8E8E;
}
.morelx1 a:hover{
	text-decoration: underline;
}

div.tonglan4 {
    width: 1200px;
    height: 203px;
    margin: 0 auto;
    position: relative;
    background: url(../../img/index22_20.png) 0 -40px;
}

.featureUL {
	border: #000 0px dotted;
	POSITION: relative;
	padding:0 ;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	WIDTH: 1100px;
	FLOAT: left;
	LEFT: 0px;
	transition: left .7s ease;
	-moz-transition: left .7s ease;
	-ms-transition: left .7s ease;
	-webkit-transition: left .7s ease;
}
.featureUL li {
	HEIGHT: 185px;
	width: 215px;
	float: left;
}

#botton-scroll {
	POSITION: relative;
	WIDTH: 1100px;
	HEIGHT: 188px;
	MARGIN: 0px auto;
	FONT-SIZE: 70%;
	OVERFLOW: hidden;
	padding-top: 10px;
	border: #999 0px dotted;
	Z-INDEX: 0;
}
#botton-scroll .box {
	WIDTH: 194px;
	HEIGHT: 185px;
	margin: 0 auto;
}
#botton-scroll .box .feature-title {
	FONT-SIZE: 140%;
	FONT-WEIGHT: normal
}
#botton-scroll .box img {
	width: 194px;
	height: 130px
}
#botton-scroll .box .imgarea {
	width: 194px;
	height: 130px
}
#botton-scroll .box .txtarea {
	line-height: 26px;
	font-size: 14px;
}
#botton-scroll .box .feature-thumb {
	WIDTH: 240px;
	MARGIN-BOTTOM: 5px;
	FLOAT: left;
	HEIGHT: 150px
}
.jjh {
	position: relative
}
.jjh .prev,.jjh .next {
	display: block;
	position: absolute;
	width: 37px;
	height: 50px;
	top: 54px;
}
.jjh .prev{
	left: 12px;
}
.jjh .next {
	right:12px;
}
.jjh .tittl4 {
	position: absolute;
	font-size: 18px;
	color: #000;
	left: 24px;
	top: 14px;
	font-weight: bolder;
}
