<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="pageindex2"></div>
		<section class="w1200 marauto mt10 fff box_soadow">
			<div class="p15">
				<a href="#">网站首页</a>  >> 
				<a href="#">生活服务</a> 
			</div>
		</section>
		<section class="w1200 marauto mt10">
			<div class="w200 fl fff box_soadow">
				<h3 class="h55 lh155 F46bg tc colorFFF f16">全部信息</h3>
				<div class="w200 dh">
					<span><a href="javascript:;">生活服务</a></span>
					<ul>
						<li><a href="#">全部</a></li>
						<li><a href="#">搬家</a></li>
						<li><a href="#">家政</a></li>
					</ul>
					<span><a href="javascript:;">跳蚤市场</a></span>
					<ul>
						<li><a href="#">全部</a></li>
						<li><a href="#">二手电脑/配件</a></li>
						<li><a href="#">二手手机</a></li>
					</ul>
				</div>
				
			</div>
			<div class="fr">
				<section class="w980 fff box_soadow ov">
					<div class="p10 bt_dashed ov">
						<h4 class="fl typetit w50">类别:</h4>
						<ul class="class-list fl w880">
						<li class="active"><a href="#">不限</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
					</ul>
					</div>
					
					<div class="p10 bt_dashed ov">
						<h4 class="fl typetit w50">区域:</h4>
						<ul class="class-list fl w880">
						<li class="active"><a href="#">不限</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
						<li><a href="#">家政</a></li>
					</ul>
					</div>
					<div class="p10 bt_dashed ov">
						<h4 class="fl typetit w50">时间:</h4>
						<ul class="class-list fl w880">
						<li class="active"><a href="#">不限</a></li>
						<li><a href="#">三天内</a></li>
						<li><a href="#">一周内</a></li>
						<li><a href="#">一月内</a></li>
						<li><a href="#">三月内</a></li>
					</ul>
					</div>
				</section>
				<div class="listing-viewtype-switch mt10">
					<div>
						<label><input type="checkbox" data-target="/fuwu/?imageFlag=1">只看有图</label>
					</div>
					<div>
						<label><input type="checkbox" data-target="/fuwu/?todayOnly=1">只看今天发布的信息</label>
					</div>
				</div>
				<section class="fff box_soadow">
					<ul class="list-ad-items">
						<li class=" item-pinned ">
							<a href="#" target="_blank" class="media-cap ">
								<img src="http://www.dcloud.io/hellomui/images/cbd.jpg" alt="">
								<span class="figcaption">10图</span>
							</a>
							<div class="media-body">
								<div class="media-body-title">
									
										<a href="#" target="_blank" class="ad-title">高端月嫂，育婴师保姆培训，拿证拿高薪推荐就业</a>
										<a href="#" target="_blank" class="tag tag-vip tag-vip-1"></a>
										<a href="#" target="_blank" class="tag tag-huoji">火急</a></div>
										<div class="ad-item-detail">深圳 - 宝安、福田、罗湖</div>
										<div class="ad-item-detail">深圳家天下服务有限公司&nbsp;/&nbsp;<time>今天 17:44</time></div>
							</div>
						</li>
						<li class=" item-pinned ">
							<a href="#" target="_blank" class="media-cap ">
								<img src="http://www.dcloud.io/hellomui/images/cbd.jpg" alt="">
								<span class="figcaption">10图</span>
							</a>
							<div class="media-body">
								<div class="media-body-title">
									
										<a href="#" target="_blank" class="ad-title">高端月嫂，育婴师保姆培训，拿证拿高薪推荐就业</a>
										<a href="#" target="_blank" class="tag tag-vip tag-vip-1"></a>
										<a href="#" target="_blank" class="tag tag-huoji">火急</a></div>
										<div class="ad-item-detail">深圳 - 宝安、福田、罗湖</div>
										<div class="ad-item-detail">深圳家天下服务有限公司&nbsp;/&nbsp;<time>今天 17:44</time></div>
							</div>
						</li>
						<li class=" item-pinned ">
							<div class="media-body">
								<div class="media-body-title">
									
										<a href="#" target="_blank" class="ad-title">高端月嫂，育婴师保姆培训，拿证拿高薪推荐就业</a>
										<div class="ad-item-detail">深圳 - 宝安、福田、罗湖</div>
										<div class="ad-item-detail">深圳家天下服务有限公司&nbsp;/&nbsp;<time>今天 17:44</time></div>
							</div>
						</li>
						
					</ul>
					
				</section>
				<section class="mt10 fff box_soadow tc">
					<ul class="list-pagination">
						<li class="active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><span>...</span></li>
						<li><a href="#">99</a></li>
						<li><a href="#">100</a></li>
						<li><a href="#">下一页</a></li>
					</ul>
				</section>
			</div>
		</section>
	
	</body>
</html>
