<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="pageindex"></div>
		<section class="w1200 marauto mt10 fff box_soadow">
			<div class="p15">
				<a href="#">网站首页</a>  >> 
				<a href="#">生活服务</a> 
			</div>
		</section>
		<section class="w1200 marauto mt10 ">
			<div class="slogan tc">简单，快速，搞得定！</div>
			
			<ul class="flow cb">
				<li class="flow-item active">
					<label class="i-badge">1</label>选择类目<label>&nbsp;(&nbsp;服务 &gt; 物品回收&nbsp;<a href="/fabu/fuwu/?" class="pink">重选</a>&nbsp;)</label></li>
					<i class="icon-arrow-right"></i>
					<li class="flow-item active"><label class="i-badge">2</label>填写信息</li>
					<i class="icon-arrow-right"></i>
					<li class="flow-item"><label class="i-badge">3</label>完成发布</li>
			</ul>
			<div id="publish" class="fff box_soadow">
				<div class="separate">基本信息</div>
			<form class="form-horizontal" role="form">
  <div class="form-group mb30">
    <label for="inputEmail3" class="col-sm-3 control-label">标题:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control input-lg" id="inputEmail3" >
    </div>
  </div>
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">服务内容:</label>
    <div class="col-sm-5">
      <select class="form-control input-lg">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
	  </select>

    </div>
  </div>
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">服务范围:</label>
    <div class="col-sm-5">
      <label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox1" value="option1"> 吴店
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox2" value="option2"> 熊集
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox3" value="option3"> 太平
	</label>
    </div>
  </div>
  
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">公司名称:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control input-lg" id="inputPassword3" placeholder="">
    </div>
  </div>
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">描述:</label>
    <div class="col-sm-7">
      <textarea class="form-control input-lg" rows="6"></textarea>
    </div>
  </div>
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">上传图片:</label>
    <div class="col-sm-5">
       <input type="file" id="exampleInputFile">
    <p class="help-block">一次最多上传12张照片（建议尺寸：440*440px）。</p>
    </div>
  </div>
  
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">详细地址:</label>
    <div class="col-sm-2">
       <select class="form-control input-lg">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
	  </select>
	  </div>
	  <div class="col-sm-2">
	   <select class="form-control input-lg">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
	  </select>
    </div>
    <div class="col-sm-2">
    	 <input type="text" class="form-control input-lg" id="inputPassword3" placeholder="">
    	</div>
  </div>
  
   <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">QQ号:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control input-lg" id="inputPassword3" placeholder="">
    </div>
  </div>
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">联系人:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control input-lg" id="inputPassword3" placeholder="">
    </div>
  </div>
  <div class="form-group mb30">
    <label for="inputPassword3" class="col-sm-3 control-label">联系电话:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control input-lg" id="inputPassword3" placeholder="">
    </div>
  </div>

  
  
  
  <div class="separate">想要获得更多关注？<span>花点小钱试试以下推广方式！</span></div>
  
  <div class="spread-section clearfix">
  	<div data-value="ding" onselectstart="return false;" ondrag="return false;" class="spread-lib">
  		<div class="spread-lib-header">
  			<img src="http://s.baixing.net/img/refashion/icon_ding.png" class="tag-ding">
  			<span>置顶</span>
  			<img src="http://s.baixing.net/img/refashion/icon_select.png" class="tag-select">
  			<img src="http://s.baixing.net/img/refashion/icon_selected.png" class="tag-selected">
  		</div>
  		<div>
  			<p>特惠价
  				<b class="highlight">5元/天</b>起
  			</p>
  			<p class="spread-lib-desc">
  				<span>让信息展示在列表首页前排，点亮专属</span>
  				<span class="highlight">“顶”字图标</span>
  				<span>，赢取更多关注。</span>
  			</p>
  		</div>
  	</div>
  	<div data-value="refresh" onselectstart="return false;" ondrag="return false;" class="spread-lib">
  		<div class="spread-lib-header">
  			<img src="http://s.baixing.net/img/refashion/icon_shuaxin.png" class="tag-res-refresh">
  			<span>预约刷新</span>
  			<img src="http://s.baixing.net/img/refashion/icon_select.png" class="tag-select">
  			<img src="http://s.baixing.net/img/refashion/icon_selected.png" class="tag-selected">
  		</div>
  		<div>
  			<p>特惠价
  				<b class="highlight">1元/次</b>起
  			</p>
  			<p class="spread-lib-desc">
  				<span>低价高效，刷新后旧信息将重新出现在前排获更多曝光，</span>
  				<span class="highlight">71%</span>
  				<span>同行使用。</span>
  			</p>
  		</div>
  	</div>
  	
  </div>
  
  
  <div class="form-group mb30">
    <div class="col-sm-10 tc">
      <button type="submit" class="btn" id="fabu-from-submit">免费注册并发布</button>
    </div>
  </div>
  
  <div class="form-group mb30">
    <div class="col-sm-10 tc">
      <div class="checkbox">
        <label>
          <input type="checkbox"> 本人已仔细阅读并同意 用户服务协议
        </label>
      </div>
    </div>
  </div>
</form>

</div>

			
		</section>
		
	</body>
</html>
