<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="pageindex2"></div>
		<section class="w1200 marauto mt10 fff box_soadow">
			<div class="p15">
				<a href="#">网站首页</a>  >> 
				<a href="#">生活服务</a> 
			</div>
		</section>
		<section class="w1200 marauto mt10">
			<div class="w300 fr ">
				<div class="fff box_soadow pb10 mb10 tz">
			        <h1><a href="#">跳蚤市场</a></h1>
			        <ul>
			              <li><a href="http://www.sh34.com/info/class-18.html" style="color:#ff5500;">二手电脑/配件</a></li>
			              <li><a href="http://www.sh34.com/info/class-19.html">二手手机</a></li>
			              <li><a href="http://www.sh34.com/info/class-20.html">手机号码</a></li>
			              <li><a href="http://www.sh34.com/info/class-21.html">数码产品</a></li>
			              <li><a href="http://www.sh34.com/info/class-22.html">办公用品/设备</a></li>
			              <li><a href="http://www.sh34.com/info/class-23.html">二手家电</a></li>
			              <li><a href="http://www.sh34.com/info/class-24.html">二手家具/家居</a></li>
			              <li><a href="http://www.sh34.com/info/class-25.html">玩具/游戏机</a></li>
			              <li><a href="http://www.sh34.com/info/class-26.html">二手设备</a></li>
			              <li><a href="http://www.sh34.com/info/class-27.html">其它跳蚤信息</a></li>
			        </ul>
      			</div>
			</div>
			<div class="fl w880 fff box_soadow">
				<div class="p15">
					<header class="viewad-title ov pb20">
						<h1>居民搬家、公司搬家、搬家搬厂、就近派车、中途不加价</h1>
						<time>9月5日 14:09</time>
						<span>105次浏览 </span>
					</header>
					
					<section class="viewad-digest ov">
						<div class="viewad-topMeta">
							<div class="viewad-meta2 new-fuwu-version">
								<div class="viewad-meta2-item">
									<label>公司名称：</label>
									<div class="content">
										<span>深圳市深港正规蚂蚁搬家有限公司</span>
									</div>
								</div>
								
								<div class="viewad-meta2-item">
									<label>服务范围：</label>
									<div class="content">
										<span>罗湖</span>
									</div>
								</div>
								<div class="viewad-meta2-item">
									<label>基价：</label>
									<div class="content"><span>88元</span></div>
								</div>
								<div class="viewad-meta2-item">
									<label>所在地：</label>
									<div class="content"><span>深圳各区均有分部就近派车</span></div>
								</div>
								<div class="viewad-meta2-item">
									<label>联系电话	：</label>
									<a href="javaScript:;" class="contact-no">0755-83****</a>
								</div>
								<div class="viewad-meta2-item">
									<label>郑重提示	：</label>
									<div class="content"><span>让您提前汇款或者不见面交易的都是骗子！发现问题请举报。</span></div>
									
								</div>
							</div>
							
						</div>
					</section>
					
					<section class=" mt50 ov">
						<header class="viewad-common-header">
							<div class="section-title">服务简介</div>
						</header>
						<div class="viewad-text">深圳蚂蚁搬家公司<br>
服务热线：0755-83258​‌‌626 13537​‌‌713363（同微信） 李先生 免费为你报价！！<br>
<br>
我公司是经深圳市运输局批准和工商局注册成立的一家专业深圳搬家、搬厂、搬写字楼、拆装空调、起重吊装的有限责任制公司，公司员工均经过严格的专业培训，熟练掌握物品的包装、拆卸等技能。公司员工统一着装、举止得体、服务周到、使用文明规范语言。金蚂蚁搬家，更舒心，更省心。<br>
<br>
公司业务范围有：<br>
1.搬家服务——居民搬家，公司搬家，企事业单位搬迁，长短途搬家、搬厂、搬钢琴<br>
2.空调服务——专业空调技工提供空调拆装、维修、加氟、清洗保养等服务 <br>
3.家具拆装——各种家...</div>

<div class="photo-gallery">
	<div class="featured-height ov">
		<div class="col-5">1</div>
		<div class="col-5">2</div>
		<div class="col-5">3</div>
	</div>

</div>
				</section>
				</div>
				
				<div class="viewad-prompt"><p><i class="icon-info"></i>小贴士：本页信息由用户及第三方发布，真实性、合法性由发布人负责。详情请阅读<a href="http://www.baixing.com/a/agreement" target="_blank">百姓网免责条款</a></p></div>
			</div>
		</section>
	</body>
</html>
